paleta de cores {
    #D6E0DC rgb(214, 224, 220);
    #326654 rgb(50, 102, 84);
    #FBEC5D rgb(251, 236, 93);
    #F89C08 rgb(249, 156, 7);
    #7FFFD4 rgb(127, 255, 212);
    #72E5BE rgb(114, 229, 190);
    #09995C rgb(9, 153, 92);
    #055c37 rgb(5, 92, 55);
    #7d7d7d rgba(125, 125, 125, 0.95);

}

main {
    padding: 25px;
    padding-bottom: 0px;
    width: auto;
    height: auto;
    background-color: #FFF;
}

#logo {
    height: 50px;
    width: 50px;
    position: fixed
}

#imagem1 {
    width: 202.5px;
    height: 360px;
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #09995C;
}
.eduardo{
    position: absolute;
    width: 202.5px;
    height: 360px;
    margin-top: 360px;
    margin-left: 920px;
    
}
.pato {
    float: left;
    position: absolute;
    width: 202.5px;
    height: 360px;
    margin-top: 360px;
    margin-left:710px;
}


#imagem2 {
    width: 306px;
    height: 204px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: 3px;
    border-color: #09995C;
}

.texto {
    color: #000;
    text-align: justify;
    text-justify: inter-word;
}

.marginTop {
    margin-top: 100px;
}

#iconteste {
    margin-left: 50px;
}

.btn-info {
    color: #fff;
    background-color: #09995C;
    border-color: #09995C;
}

.bg-light {
    background-color: #055c37!important;
}

#content {
    padding: 0px;
}

#sidebar .sidebar-header {
    padding: 12.5px;
    background: #055c37;
}

.logoMenu {
    height: 55px;
    width: 55px;
}

.planos {
  margin-left: 12.5%;
  -margin-right: 12.5%;
}

.navbar {
    padding: 21.5px 10px;
}

.thumbnail {
  height: 305px;
  width: 640px;
  background-color: #72E5BE;
}

.formulario {
  background-color: #09995C;
  border-width: 0 !important;
  overflow: auto;
}

.border {
  border: 0 !important;
}

.text-center.border.border-light.p-5 {
   float: right;
   border-left: 0 !important;
   border-right: 10% !important;
}

.imgForm1 {
  float: right;
  width: 212px;
  height: 318px;
  padding-left: 1rem !important;
}

.imgForm2 {
  float: left;
  width: 212px;
  height: 486px;
  padding-right: 1rem !important;
}

.btn-block {
  margin: 0 auto;
  display: block;
  width: 50%;
  margin-left: 25%;
  background-color: #F89C08;
  color: black;
}

.p-5 .imgForm1 .imgForm2 {
    padding-top: 1rem !important;
    padding-right: 0rem !important;
    padding-bottom: 1rem !important;
    padding-left: 0rem !important;
}

.plano {
  height: 400px;
}

#card1 {
  background-image: url(img/horse.jpg);
  background-repeat: no-repeat;
}

#card2 {
  background-image: url(img/guy.jpg);
  background-repeat: no-repeat;
}

#card3 {
  background-image: url(img/happy.jpg);
  background-repeat: no-repeat;
}

.masthead p, .masthead p a, .card-content {
    color: #fff;
    text-shadow: 2px 0 0 #F89C08, -2px 0 0 #F89C08, 0 2px 0 #F89C08, 0 -2px 0 #F89C08, 1px 1px #F89C08, -1px -1px 0 #F89C08, 1px -1px 0 #F89C08, -1px 1px 0 #F89C08;
    list-style: none;
}

li::before {
  content: "•";
  color: #09995C;
  display: inline-block; width: 1em;
  margin-left: -1em;
}

.card-content {
  overflow: auto;
  padding: 0.5em !important;
}

.main-area {
    padding-left: 0px !important;
    wwidth: 317px !important;
}

.centered {
    padding-left: -20px !important;
}

.nPlano {
  font-size: 175%;
  text-align: center;
}

.datPlano, sup{
  text-align: justify;
}

li {
  margin-bottom: 0em;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.row {
  background-color: #09995C;
  overflow: auto;
}

.smile {
  height: 418px !important;
}

.none {
  content: "";
}

.h4.mb-4 {
  color: #FBEC5D;
}
